@using global::TodoList.Model
@using global::TodoList.Model.Enums
@using TodoListBlazorWasm.Services

@if (Assignee != null)
{
    <EditForm Model="@TaskListSearch" OnSubmit=@SearchForm>
        <div class="row">
            <!-- Trường nhập tên công việc -->
            <div class="col">
                <label for="name">Name</label>
                <InputText class="form-control" id="name" @bind-Value="TaskListSearch.NameType"></InputText>
            </div>

            <!-- Lựa chọn người được giao việc -->
            <div class="col">
                <label for="assignee">Assignee</label>
                <InputSelect class="form-control" @bind-Value="TaskListSearch.NameType">
                    @foreach (var assignee in Assignee)
                    {
                        <option value="@assignee.Id">@assignee.FullName</option>
                    }
                </InputSelect>
            </div>

            <!-- Lựa chọn mức độ ưu tiên -->
            <div class="col">
                <label for="priority">Priority</label>

                <InputSelect class="form-control" id="priority" @bind-Value="TaskListSearch.Priority">
                    <option>Select Priority</option>
                    @foreach (string item in Enum.GetNames(typeof(Priority)))
                    {
                        <option value="@item">@item</option>
                    }
                </InputSelect>
            </div>

            <!-- Nút tìm kiếm -->
            <div class="col pt-4">
                <button type="submit" class="btn btn-success">Search</button>
            </div>
            <div class="col pt-4">
                <a href="/taskCreate" class="btn btn-success">Create</a>
            </div>
        </div>
    </EditForm>
}


@code{
    [Inject] private IUserApiClient UserApiClient { get; set; }
    [Parameter]
    public EventCallback<TaskListSearch> OnSearch{ get; set; }

    private TaskListSearch TaskListSearch = new TaskListSearch();
    private List<AssigneeDto> Assignee;
    protected async override Task OnInitializedAsync()
    {
        Assignee = await UserApiClient.GetAssignee();
    }
    private async Task SearchForm(EditContext context)
    {
        await OnSearch.InvokeAsync(TaskListSearch);

    }
   
}