@page "/todoList"
@using global::TodoList.API.Enums
<h3>TodoList</h3>

@if (Tasks == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <div class="row">
	    <EditForm Model="@ListSearch">
		    <div class="col">
			    <label>Name</label>
			    <InputText class="form-contol" @bind-Value="ListSearch.Name" ></InputText>
		    </div>
		    <div class="col">
			    <label>Assignee</label>
			    <InputSelect class="form-contol" @bind-Value="ListSearch.AssigneeId">
                    @foreach (var assignee in assignee)
                    {
	                    <option value="@assignee.Id" >@assignee.FullName</option>
                    }
			    </InputSelect>
		    </div>
		    <div class="col">
			    <label>Priority</label>
			    <InputSelect class="form-contol" @bind-Value="ListSearch.Priority" ></InputSelect>
                @foreach (string item in Enum.GetNames((typeof(Priority))))
			    {
				    <option value="@item" >@item</option>
			    }
		    </div>
		    <div class="col">
			    <label>Name</label>
			    <InputText type="submit" class="btn btn-success">Search</InputText>
		    </div>
	    </EditForm>
    </div>

    <div class="row mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>Assignee</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Tasks)
                {
                    <tr>
                        <td>@item.NameType</td>
                        <td><PriorityLabel Priority="item.Priority"></PriorityLabel></td>
                        <td><a style="cursor:pointer;" @onclick="()=>OpenAssignPopup(item.Id)">@item.AssigneeName</a></td>
                        <td>@item.CreatedDate.ToString(Configuration["DateTimeFormat"])</td>
                        <td><StatusLabel Status="item.Status"></StatusLabel></td>
                        <td>
                            <a href="/taskDetails/@item.Id" class="btn btn-primary">Detail</a>
                            <a href="/taskEdit/@item.Id" class="btn btn-warning">Edit</a>
                            <button class="btn btn-danger" @onclick="()=> OnDeleteTask(item.Id)">Delete</button>

                        </td>
                    </tr>
                }

            </tbody>
            <tfoot>
                <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage"></Pagination>
            </tfoot>
        </table>
    </div>

}


